<form action="#">
  <label>
    <input type="text" placeholder="Name of the park" name="parks" list="parks">
  </label>
  <datalist id="parks">
    {{#each parks}}
      <option value="{{name}}" data-id="{{wdpaid}}">
    {{/each}}
  </datalist>
</form>
