<ul class="medium-block-grid-4">
  {{#each species}}
    <li>
      <div>
        {{!-- <img src="{{media.eolMediaURL}}"> --}}
        {{#if media}}
          <img class="th" src="{{media.eolThumbnailURL}}">
        {{/if}}
        <h3>{{commonname}}</h3>
        <p>{{taxon}}</p>
      </div>
    </li>
  {{/each}}
</ul>
