body
  background-color #f9f9f9
  font-family Helvetica, Arial, sans-serif
  color #888
  font-size 14px

h1, h2, h3, h4, label
  color #888

h1, h2
  line-height 1.1

h2
  font-size 22px

h3
  font-size 18px

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
  color #888
