.l-header
  position relative
  z-index 1
  margin-bottom -89px
  background rgba(0, 0, 0, .7)

.l-bg
  background url('http://static.panoramio.com/photos/large/102602886.jpg')
  background-size cover
  height 289px
  transition background .5s ease

.l-main
  padding-top 40px

.l-footer
  text-align center

#parksSuggestionView

  input[type="text"]
    font-size 34px
    height auto
    background-color transparent
    border 0
    border-bottom 1px solid #ddd
    box-shadow none
    color #444

  ::-webkit-input-placeholder
    color #ddd
    font-size 34px

  :-moz-placeholder
    color #ddd
    font-size 34px

  ::-moz-placeholder
    color #ddd
    font-size 34px

  :-ms-input-placeholder
    color #ddd
    font-size 34px
