.mod-panel
  background-color #fff
  border 1px solid #ddd
  border-radius 5px
  overflow hidden

  figure
    margin 0

  .thumb
    height 175px
    background-color #eee
    overflow hidden

  figcaption
    padding 20px

    p
      margin .3rem 0
      font-size 14px
